.App {
    text-align: center;
    color: rgb(31, 104, 33);
  }
  .active {
    color: blueviolet;
    text-decoration: underline;
  }
  
  .mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    background-color: black;
    color: white;
  }
  